name: CI Run MLflow Project

on:
  push:
    branches: [ main ]

jobs:
  run-mlflow-project:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install MLflow
        run: |
          python -m pip install --upgrade pip
          pip install mlflow

      - name: Run MLflow Project
        run: |
          mlflow run . \
            -P data_path=bank_marketing_preprocessing.csv \
            -P n_estimators=100 \
            -P max_depth=10


