name: CI MLflow Training and Docker Build

on:
  push:
    branches: [ main ]

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow

      - name: Run MLflow Project (training)
        run: |
          mlflow run .

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns/

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ninaainur
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image with MLflow
        run: |
          mlflow build-docker \
            --name ninaainur/workflow-ci-mlflow \
            .

      - name: Push Docker image to Docker Hub
        run: |
          docker push ninaainur/workflow-ci-mlflow



